* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000;
}

body {
    background-color: #eee;
}

.main_heder {
    margin: 0 auto 2.5rem;
    text-align: center;
    max-width: 600px;
    font-size: 2.6rem;
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.dishes_grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.dish_item {
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.dish_item:hover .dish_image img {
    transform: scale(1.2);
}

.dish_image {
    overflow: hidden;
}

.dish_image img {
    width: 100%;
    height: 300px;
    transition: all 0.3s ease-in;
}

.dish_name {
    margin: 1rem 0;
    font-size: 1.4rem;
    transition: all 0.3s ease-in;
}

.dish_item:hover .dish_name {
    color: rgb(55, 150, 187);
}

.dish_des {
    font-size: 1.2rem;
}

.ingredient {
    font-size: 1.2rem;
}

.detail_dish_item {
    padding: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 4rem auto;
}

.detail_dish_name {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.detail_dish_image img {
    width: 100%;
    height: 300px;
}

.detail_dish_des {
    font-size: 1.7rem;
    margin: 1rem 0;
}

.backToMainPage {
    display: block;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.backToMainPage:hover {
    color: rgb(54, 54, 237);
}

@media (min-width: 720px) {
    .dishes_grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    .dish_item {
        height: 550px;
    }

    .detail_dish_item {
        width: 55%;
    }
}

@media (min-width: 1100px) {
    .dishes_grid {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }

    .dish_item {
        height: 590px;
    }

    .detail_dish_item {
        width: 40%;
    }
}